<div class="container">
    <h3 style="display: inline;">Property List</h3><a class="ps-3" href="/addproperty"><i class="fa-solid fa-house-medical"></i></a>
    <div class="table-responsive">
    <table class="table">
        <tr>
            <th>Property Name</th>
            <th>Address</th>
            <th>City</th>    
            <th>State</th>    
            <th>Offer Amount</th>
            <th>Market Value</th>
            <th>Reports</th>
        </tr>
        
            {{#each propertyData as |property|}}
        <tr>
            <td><a href="/property/{{property.id}}">{{property.name}}</td></a>
            <td>{{property.address1}}</td>
            <td>{{property.city}}</td>        
            <td>{{property.state}}</td>        
            <td>{{formatCurrency property.financials.0.offer_amount}}</td>
            <td>{{formatCurrency property.financials.0.property_value}}</td>
            <td><a href="/reports/{{property.id}}"><i class="fa-regular fa-file-lines"></i></a></td>
        </tr>
            {{/each}}        
    </table>
    </div>
</div>

